@media screen and (min-width: 768px) {


    /* HEADER */

    header {

        display: flex;

        justify-content: space-between;

        align-items: center;

        padding: 1rem 3rem;

    }


    .logo img {

        width: 80px;

    }


    .logo span {

        font-size: 1.7rem;

    }


    /* HAMBURGER */

    .hamburger {

        display: none;

    }


    /* NAV */

    .navigation {

        display: block;

    }


    .navigation ul {

        display: flex;

        gap: 1rem;

    }


    .navigation li {

        margin: 0;

    }



    /* MAIN */

    main {

        max-width: 1200px;

        margin: auto;

    }



    /* GRID */

    .grid {

        grid-template-columns: repeat(auto-fit,
                minmax(250px, 1fr)) !important;

    }


    /* LIST */

    .list .member-card {

        display: flex;

        justify-content: space-between;

        align-items: center;

    }



    /* FOOTER */

    footer {

        display: flex;

        justify-content: space-around;

        align-items: center;

        text-align: left;

    }



    /* =========================
       HOME PAGE ADDITIONS
    ========================= */


    .hero img {

        height: 500px;

    }


    .hero-content {

        width: 60%;

    }


    .hero-content h1 {

        font-size: 2.5rem;

    }


    .home-grid {

        grid-template-columns: 2fr 1fr;

        gap: 2rem;

    }


    #spotlight-container {

        grid-template-columns: repeat(3, 1fr);

    }


}